*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Reset */

.container{
    display: flex;
    flex-flow: row wrap
}


/* header */
header {
    height: 90vh;
    width: 20%;
    background-color: #000000;
    /* test */
}
/* nav */

/* /nav */
/* /header */

/* main */
main {
    width: 80%;
    background-color: #141923;
    /* test */
}
/* /main */

/* footer */
footer{
    height: 10vh;
    width: 100%;
    background-color: #282828;
    /* test */
}
/* /footer */

